{
	"project_id": "infra-000000",
	"source_image_family": "ubuntu-1604-lts",
	"machine_type": "f1-micro",
	"networks": "default",
	"tags": "puma-server",
	"disk_type": "pd-standart",
        "disk_size": "10",
	"image_description": "Canonical, Ubuntu, 16.04 LTS, amd64 xenial image"	
}
